<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1"
  />
  {%- seo -%}
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link
    rel="icon"
    href="assets/images/favicon.png"
    type="image/png"
    sizes="16x16"
  />
  {%- feed_meta -%}
</head>
