<nav class="main-nav">
  <div class="nav-mobile">
    <a class="logo" href="/"> </a>
    <div class="nav-toggle">
      <span class="material-icons">
        menu
      </span>
    </div>
  </div>
  <div class="nav-links">
    {% if page.lang == "en" %}
    <a class="logo" href="/en/"> </a>
    <a href="/en/projects">Projects</a>
    <a href="/en/contact">Contact</a>
    <a href="/">עברית</a>
    {% else %}
    <a class="logo" href="/"> </a>
    <a href="/projects">פרויקטים</a>
    <a href="/faq">שאלות נפוצות</a>
    <a href="/contact">צור קשר</a>
    <a href="/en">EN</a>
    {% endif %}
  </div>
</nav>
