.faq-item {
  .header {
    text-align: right;
    font-weight: bold;
    padding: 0.5em 2em;
    cursor: pointer;
  }
  .body {
    height: 0;
    overflow: hidden;
    transition: 250ms ease height;
  }

  .body-text {
    margin-top: -1em;
    padding: 1em 2em 0 2em;
  }
}
