.hero {
  background-color: $text-color;
  color: #fff;
  padding-bottom: 40px;
  margin-bottom: 20px;
  overflow: hidden;

  h1 {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
  }
}

.hero > canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.title-right {
  text-align: left;
  margin-left: 45%;

  @media screen and (max-width: $mobile-width) {
    margin-left: 5%;
  }
}

.title-left {
  direction: ltr;
  text-align: right;
  margin-right: 45%;

  @media screen and (max-width: $mobile-width) {
    margin-right: 5%;
  }
}

.academy-logo {
  height: 4em;
  text-align: right;
  margin-bottom: 1em;
  margin-right: 0.5em;
}
