$text-color: #444444;
$bg-color: #ddddd;
$tablet-width: 950px;
$mobile-width: 600px;

@import url("https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&display=swap");

@import "normalize";
@import "bootstrap-grid";
@import "nav";
@import "home";
@import "projects";
@import "faq";

body {
  text-align: center;
  background-color: $bg-color;
  color: $text-color;
  font-family: "Miriam Libre", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5em;
  overflow-x: hidden;
  direction: rtl;

  &.en {
    direction: ltr;

    p,
    h1,
    h2,
    h3,
    h4 {
      text-align: left;
    }
  }

  @media screen and (max-width: $tablet-width) {
    font-size: 16px;
  }
}

footer {
  padding: 1em;
  color: #aaa;
}

img {
  max-width: 100%;
}

.frame-content {
  padding: 1.5em;
}

main {
  padding-top: 60px;

  @media screen and (max-width: $tablet-width) {
    padding-top: 40px;
  }
  @media screen and (max-width: $mobile-width) {
    padding-top: 20px;
  }
}

.ltr {
  direction: ltr;
}

.content {
  max-width: 1000px;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  padding: 1.5em;
}

p {
  text-align: right;
  line-height: 1.55em;
  color: #666666;
}

h1 {
  font-weight: normal;
  font-size: 3.5em;
  line-height: 1.3em;
  z-index: 10;
  position: relative;
  margin: 0.4em auto;
  text-align: right;
}

h2 {
  font-size: 1.5em;
  text-align: right;
}

.button {
  display: inline-block;
  font-weight: bold;
  color: #ffffff;
  background-color: #555;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 2px;
  margin: 0.5em;
  cursor: pointer;
  transition: background-color 300ms ease;

  .material-icons {
    vertical-align: bottom;
    margin-left: -0.3em;
  }

  &:hover {
    background-color: #777;
  }
}

.columns {
  display: flex;

  @media screen and (max-width: $mobile-width) {
    flex-direction: column;
  }

  & > div {
    flex: 1 1 0px;
    padding: 0 1em;

    @media screen and (max-width: $mobile-width) {
      padding: 0;
    }
  }
}

.headline {
  font-size: 1.8em;
  color: $text-color;
  line-height: 1.3em;
  margin: 0.2em auto;
}
