$mobile-nav-height: 45px;

.floating-nav {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: #eee;
  transform: translateY(0);
  transition: transform 300ms ease;
}

.floating-nav.hidden {
  transform: translateY(-100%);

  @media screen and (max-width: $mobile-width) {
    transform: translateY(0);
  }
}

.main-nav {
  width: 100%;
  margin: auto;
  top: 0;
  display: flex;
  padding: 1em;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  @media screen and (max-width: $mobile-width) {
    height: $mobile-nav-height;
  }
}

.nav-links {
  z-index: 10;
  max-width: $max-width;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: $mobile-width) {
    display: none;

    &.mobile-visible {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100vh;
      background-color: rgba(#eee, 0.8);
      backdrop-filter: blur(4px);
      z-index: 10;
      padding-top: 80px;

      & > a {
        display: block;
        padding: 0.8em;
      }
    }
  }
}

.nav-links > a {
  padding: 0.4em 1em;
  margin: 0 0.6em;
  text-decoration: none;
  color: $text-color;
  font-weight: bold;
  letter-spacing: 0.03em;
  z-index: 10;
  border-radius: 2px;
  box-sizing: border-box;
  transition: all 300ms ease;
  background-color: rgba(0, 0, 0, 0);

  @media screen and (max-width: $tablet-width) {
    margin: 0;
  }
}

.nav-mobile {
  display: none;

  @media screen and (max-width: $mobile-width) {
    display: block;
  }
}

.nav-toggle {
  z-index: 20;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: $mobile-nav-height / 2 + 2px;
  transform: translate(50%, -50%);
}

.nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.en .logo {
  margin-left: 0 !important;
  margin-right: auto !important;

  @media screen and (max-width: $mobile-width) {
    margin: 2em auto !important;
  }
}

.logo {
  // margin: 0 3em !important;

  width: 4em;
  height: 1.6em;
  vertical-align: middle;
  display: inline-block;
  background: url(/assets/images/logo-m.svg) no-repeat !important;
  background-size: cover;
  margin-left: auto !important;
  mix-blend-mode: multiply;
  position: relative;
  // background-blend-mode: multiply;

  @media screen and (max-width: $mobile-width) {
    margin: 2em auto !important;
  }

  &::before {
    background: url(/assets/images/logo-y.svg) no-repeat;
  }
  &::after {
    background: url(/assets/images/logo-c.svg) no-repeat;
  }

  &::before,
  &::after {
    content: " ";
    display: block;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    transition: transform 250ms ease;
    z-index: -1;
  }

  &:hover {
    &::before {
      transform: translate(-0.4em, -0.4em);
    }
    &::after {
      transform: translate(0.4em, 0.4em);
    }
  }

  &:active {
    &::before {
      transform: translate(-0.2em, -0.2em);
    }
    &::after {
      transform: translate(0.2em, 0.2em);
    }
  }
}

.dark {
  color: #fff;

  .main-nav {
    position: absolute;
    max-width: 100%;
  }

  .nav-links > a {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
  }

  .nav-links > a:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }

  .logo {
    // background-image: url(/assets/images/logo-white.svg) !important;
    background: url(/assets/images/logo-g.svg) no-repeat !important;

    &::before {
      background: url(/assets/images/logo-r.svg) no-repeat;
    }

    &::after {
      background: url(/assets/images/logo-b.svg) no-repeat;
    }

    mix-blend-mode: screen;
    &::before,
    &::after {
      mix-blend-mode: screen;
    }
  }
}
