.project-item {
  // display: block;
  // width: 300px;
  // background-color: #dddddd;
  text-align: right;

  a {
    text-decoration: none;
    color: $text-color;
    font-size: 1.5em;
    line-height: 1.3em;
    transition: opacity 300ms ease;

    &:hover {
      opacity: 0.7;
    }
  }

  .thumbnail {
    width: 100%;
  }

  .author {
    color: #999;
    font-size: 0.75em;
    display: block;
  }
}

.grid-brick {
  margin-top: 2em;
}

.projects-container {
  margin-bottom: 5em;
}

.filter-options {
  margin-top: 1em;

  &.active .button {
    opacity: 0.5;
  }

  .button {
    font-size: 0.8em;
    padding: 0 1em;
    border-radius: 3em;
    margin: 0.2em;
    background-color: #ddd;
    color: #777;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      background-color: #ccc;
      opacity: 1 !important;
    }

    &.active {
      // background-color: #777;
      // color: #fff;
      background-color: #ccc;
      opacity: 1;
    }
  }
}
