.project-item {
  // display: block;
  // width: 300px;
  // background-color: #dddddd;
  text-align: right;

  a {
    text-decoration: none;
    color: $text-color;
    font-size: 1.5em;
    line-height: 1.3em;
    transition: opacity 250ms ease;

    &:hover {
      opacity: 0.7;
    }
  }

  .thumbnail {
    width: 100%;
  }

  .author {
    color: #999;
    font-size: 0.75em;
    display: block;
  }
}

.grid-brick {
  margin-top: 2em;
}

.projects-container {
  margin-bottom: 5em;
}

.en .filter-options {
  text-align: left;
}

.filter-options {
  margin-top: 2em;

  &.active .button {
    opacity: 0.5;
    
    &.clear {
      opacity: 1;
      pointer-events: all;
    }
  }

  .button.clear {
    opacity: 0;
    pointer-events: none;
  }
  
  .button {
    font-size: 0.8em;
    padding: 0 0.5em;
    border-radius: 3px;
    margin: 0.2em 0;
    background-color: #eee;
    color: #777;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: color 250ms ease, background-color 250ms ease;

    &:hover {
      background-color: #ddd;
    }

    &.active {
      background-color: #777;
      color: #fff;
      // background-color: #ccc;
      opacity: 1;
    }
  }
}

.project-page {
  .main-image {
    max-width: 50%;
    float: right;
  }
}
